@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #67FCF1;
  --bg-secondary-100: #121419;
  --bg-secondary-200: #202833;
  --bg-secondary-300: #202020;
  --bg-primary: #0A0B10;
  --accent: #99EE2D;
  --text-100: #ffffff;
  --text-200: #eaeaea;
  --text-300: #CECECE;
  --text-400: #8A8A8C;
  --text-500: #838688;
  --bg-gradient: linear-gradient(180deg, #0A0B10 0%, #10141C 100%);
}


::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-secondary-100);
  border-radius: 12px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #31354f;
  border-radius: 12px;
}

body {
  background: #0B0C12;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--text-200);
}

.btn-basic {
  position: relative;
  -webkit-clip-path: polygon(80% 0%, 100% 50%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(80% 0%, 100% 50%, 100% 100%, 0 100%, 0 0);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #222222;

  @apply py-3 xl:py-4 bg-primary font-semibold transition-all duration-300 whitespace-nowrap pl-6 pr-12 lg:pl-7 lg:pr-14 xl:pl-8 xl:pr-16;
}

.btn-basic:hover {
  box-shadow: 0px 0px 34px 0px #F5FFE64D;
}

.btn-basic.secondary {
  @apply bg-accent;
}

.shine-gradient {
  mix-blend-mode: lighten;
  background: #0A0B10;
  background: radial-gradient(50% 50% at 50% 50%, hsl(173, 88%, 10%) 0%, rgba(10, 11, 16, 0) 100%);
  /* background: radial-gradient(circle, hsla(173, 85%, 13%, 0.113) 0%, rgba(10, 11, 16, 0) 100%); */
}

.mix-gradient {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
}

.date-card {
  /* clip-path: polygon(0 0, 100% 0, 100% 69%, 46% 69%, 46% 100%, 0 100%, 0% 70%, 0% 30%); */
}

.glassEffect {
  backdrop-filter: blur(4px) saturate(112%);
  -webkit-backdrop-filter: blur(4px) saturate(112%);
  background-color: rgba(255, 255, 255, 0.09);
  /* border-radius: 12px; */
  /* border: 1px solid rgba(209, 213, 219, 0.3); */
}


.swiper-pagination {
  padding-bottom: 15px;
}

@media (min-width: 1024px) {
  .swiper-pagination {
    padding-left: 70px;
    text-align: left !important;
  }
}

.swiper-pagination span {
  background-color: var(--primary);
  border-radius: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 32px;
  transition: all 0.3s ease-in-out;
}